{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1>Gérer les Permissions des Groupes</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="group">Sélectionnez un Groupe :</label>
            <select name="group" id="group" class="form-control">
                {% for group in groups %}
                <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group mt-3">
            <label for="permissions">Permissions :</label>
            <select name="permissions" id="permissions" class="form-control" multiple>
                {% for permission in permissions %}
                <option value="{{ permission.id }}">{{ permission.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-success mt-3">Mettre à jour les Permissions</button>
    </form>
</div>
{% endblock %}
