{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1>Gérer les Groupes</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nom du Groupe</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr>
                <td>{{ group.name }}</td>
                <td>
                    <a href="{% url 'custom_admin:update_group' group.id %}" class="btn btn-primary">Mettre à jour</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
