{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1>Mettre à jour le Groupe : {{ group.name }}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="users">Utilisateurs :</label>
            <select name="users" id="users" class="form-control" multiple>
                {% for user in users %}
                <option value="{{ user.id }}" {% if user in group.user_set.all %}selected{% endif %}>
                    {{ user.username }}
                </option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-success mt-3">Mettre à jour le Groupe</button>
    </form>
</div>
{% endblock %}
